# {{ ansible_managed }}
PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
NO_PROXY="{{ no_proxy }}"
no_proxy="{{ no_proxy }}"
http_proxy="{{ http_proxy }}"
https_proxy="{{ http_proxy }}"
ftp_proxy="{{ http_proxy }}"
