<IfDefine SSL>
<IfDefine !NOSSL>

##
## SSL Virtual Host Context
##

<VirtualHost {{ ansible_fqdn }}:443>
        DocumentRoot "/srv/www/htdocs"
        ServerName {{ ansible_fqdn }}:443
        #ServerAdmin webmaster@example.com
        ErrorLog /var/log/apache2/ostro_error_log
        TransferLog /var/log/apache2/ostro_access_log
        CustomLog /var/log/apache2/ostro_ssl_request_log ssl_combined

        SSLEngine on

        #   You can use per vhost certificates if SNI is supported.
        SSLCertificateFile /etc/apache2/ssl.crt/{{ ansible_fqdn }}.crt
        SSLCertificateKeyFile /etc/apache2/ssl.key/{{ ansible_fqdn }}.key
        #SSLCertificateChainFile /etc/apache2/ssl.crt/vhost-example-chain.crt
</VirtualHost>

</IfDefine>
</IfDefine>
