<html>
<body>
<h2>{{ ansible_hostname }} CI internal server</h2>
<address>
<h3>Links to GitHub</h3>
  <a href="https://github.com/ostroproject/">Ostro Project</a><br>
<h3>Download and local cache</h3>
  <a href="http://{{ ansible_hostname }}/download/">Download on {{ ansible_hostname }}</a><br>
</address>
</body>
</html>

